.app {
  width: 90vw;
  margin: auto;
  text-align: center;
}
.main-app {
  height: 100%;
  padding: 20px 10px;
  border-radius: 20px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 25%), -4px -4px 8px rgba(0, 0, 0, 25%);
}
.main-app textarea {
  width: 90%;
  border-radius: 10px;
  height: 100px;
  padding: 10px;
  background-color: rgba(209, 208, 206, 0.499);
}
.main-app button {
  margin-top: 20px;
  width: 75px;
  padding: 5px;
  font-weight: 600;
  font-size: 16px;
  background-color: orange;
  border-radius: 10px;
  outline: none;
  border: 2px solid grey;
}
.main-app button:hover {
  color: orange;
  background-color: white;
}
.list {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 25%), -4px -4px 8px rgba(0, 0, 0, 25%);
  flex-direction: column;
}
.item {
  width: 75vw;
  height: 50px;
  background: rgba(128, 128, 128, 0.289);
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
}
.item div {
  display: flex;
  padding: 10px;
}
.done {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.3);
}
.item button {
  margin-left: 10px;
  outline: none;
  padding: 5px 10px;
  color: #fff;
  border-radius: 10px;
  width: 60px;
  border: 2px solid#fff;
}
.edit {
  background: blue;
}
.delete {
  background: red;
}
.save {
  background-color: green;
}
.checkedEdit {
  background: rgb(168, 168, 227);
}
@media screen and (max-width: 550px) {
  .item {
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
  }
  .item div {
    justify-content: flex-start;
  }
  .item div:last-child {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
